<div id="footer-main">
  <div id="main-left">
    <h2>
      <i class="fas fa-utensils"></i>
      YumBook
    </h2>
  </div>
  <div id="main-right">
    <h3>Links</h3>
    <div id="link-lists">
      <ul id="first-list">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/discover">Discover</a></li>
      </ul>
      <ul id="second-list">
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
    
  </div>
</div>
<div id="footer-bottom">
  <p><strong>&copy; 2020 YumBook, All Rights Reserved</strong></p>
</div>