<div id="about-main" class="container">
  <h1>About YumBook</h1>
  <p>YumBook offers a fun, social way to save your yummiest recipes and share them with the world. Create and save recipes to your profile and then choose which ones you wish to share, IF you wish to share any at all. You might just discover some new favorites, as well! Join today and start sharing the Yum!</p>
  <button class="waves-effect waves-light btn-large">Share the Yum!</button>
</div>