<div id="showcase">
  <div id="showcase-inner">
    <h1>YumBook</h1>
    <p>Store and share your favorite recipes</p>
    <button class="waves-effect waves-light btn-large">Start Here</button>
  </div>
</div>